<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <script src="Scripts/angular.min.js"></script>
    <script src="deleteid.js"></script>
</head>
<body>
    <div class="container" ng-controller="demoCtrl as vm">
        <div class="row">
            <div class="col-md-5">
                <button type="button" id="btnDelete"
                        class="btn btn-primary"
                        ng-click="vm.deleteIds()">
                    Delete Ids
                </button>
                <label class="control-label" for="portfolio">
                    <input type="radio"
                           id="portfolio"
                           ng-model="vm.testp"
                           name="radiotest"
                           value="portfolio"
                           ng-click="vm.disableP(vm.testp)" />Port
                </label>
                <label class="control-label" for="market">
                    <input type="radio"
                           id="market"
                           name="radiotest"
                           ng-model="vm.testm"
                           value="market"
                           ng-click="vm.disableP(vm.testm)" />Mak
                </label>
            </div>
            <fieldset ng-disabled="vm.disablediv">
                <div class="col-md-5">
                    <button type="button" id="btnDelete"
                            class="btn btn-primary"
                            ng-click="vm.deleteIds()">
                        Delete Ids
                    </button>
                </div>
            </fieldset>

        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="selectco">Co:</label>
                    <select class="form-control" id="selectco">
                        <option>Please select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <div class="radio-inline" ng-repeat="pt in vm.radioOptions">
                        <label class="control-label">
                            <input type="radio"
                                   id="radio_{{pt.id}}"
                                   name="rdopt"
                                   ng-model="vm.radioselected"
                                   ng-value="pt.name"
                                   ng-click="vm.toggle()" />
                            {{pt.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
       
        <fieldset ng-disabled="vm.disablePort">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-8">
                        <div class="checkbox-inline"
                             ng-repeat="pt in vm.portCheckOptions">
                            <label class="control-label">
                                <input type="checkbox"
                                       id="radio_{{pt.id}}"
                                       name="rdopt"
                                       ng-model="pt.selected"
                                       ng-value="pt.name" />
                                {{pt.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</body>
</html>
