<div>
    <input id="btnAddFile" type="button" value="Add File" />
</div>
<div id="dialog-form">
    <label for="fileUpload">
        <input id="fileUpload" type="file" multiple />
        <label class="lblerror" style="display:none;color:red">This field is required</label>
        <label class="lblvalidate" style="display:none;color:red">Please upload only text files</label>
    </label><br />
    <input id="btnUploadFile" type="button" value="Upload File" />
</div>
<style>
    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee;
    }
</style>



