html {
   background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
  
    color: #333;
    font-size: 16px;
    font-weight:normal;
    font-style:normal;
    font-family:Arial, Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
#mainheader 
{
    background-color: white;
	width: 100%;
	display:inline-block;
	height:100px;
	float: left;
}
#mainheader #logo
{
    margin-top: 15px;
    margin-left: 40px;
	display: block;
	float: left;
	 
}

#dcrui-header-top {
    border-top: 11px solid #2B4888;
}
.dots {
 background-image: url('http://rui.dc.gov/rui/css/images/dot.png');
min-width: 100%;
position: absolute;
top: 4px;
height: 3px;
}
.logo-img  {
    float: left;
    margin: 20px 10px;
}
 .headertitle {
    float: left;
    margin: 10px 10px;
}
.logo-img img {
    width: 100px;
}
img {
    border: 0px none;
}

a
{
    color: #336699;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color:#336699;
    }

    a:hover  
    {
         text-decoration: underline;
        
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6
{
    color: #666666;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 1.75em;
}
 

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #fff;
    clear: both;
    padding-bottom:25px;
}

    .main-content {
        background: url('/global/Images/accent.png') no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url('/global/heroAccent.png') no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
      font-family:Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a 
    {
        padding-right:13px; padding-left:13px;
       
        line-height:35px;
     text-align:center;
     display:inline-block;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        

/* page titles */
hgroup.title
{     
    color: #666666;
     line-height:20px;
}

hgroup.title h1, hgroup.title h2, hgroup.title h3, hgroup.title h4{
    font-weight: normal;
    display: inline;
    line-height:40px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

 
article {
    float: left;
    width: 70%;
}

 
 
.mainForm {   
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}

/* login page */
#loginForm {   
    top:40px;
    width:450px;
}
#changepasswordForm {   
    top:40px;
    width:600px;
}



#loginForm label {
    display:inline-block !important; 
    font-size: 1.2em;
    font-weight:500;
    width:90px !important; 
}

#loginForm input[type="text"],#loginForm input[type="password"]
{
    min-width:200px;
  
}

#loginForm label.checkbox {
     font-size:13px;
     width:220px !important;  
      display:inline-block !important; 
}
    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }
 

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

#socialLoginForm h2 {
    margin-bottom:  5px;
}

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label 
{
    min-width:150px;
    display:inline-block !important; 
 
}

label.checkbox {
    display: inline;
}

input[type="text"],input[type="password"], textarea, select,input[type="number"],input[type="email"]
{
    border: 1px solid #CFE0EF;
     
    color:Black ;
    font-size: 16px;
    margin: 2px 0 2px 0;
    padding:2px;
  
}

textarea {
    font-family: inherit;
    width: 400px;
     height: 60px;
}

   input:focus, textarea:focus {
        border: 1px solid #7ac0da;
   }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

input[type="submit"], input[type="button"], button, .button
{
    background-color: #F2F2F2;
    border: 1px solid #999999;
    cursor: pointer;
    padding: 3px 10px  ;
    margin-right: 5px;
    width: auto;
    min-width:90px;
    display: inline-block;
    color: #595959 !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
 input[type="button"]:hover, input[type="submit"]:hover, .button:hover
{
    color: #333;
    background-color: #E4E4E4;
}
     
.message-info {
  
    clear: both;
   
}

.message-error {  line-height:30px;
    clear: both;
    color: #e80c4d !important;
   font-size: 17px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #3AB176 !important;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    line-height: 30px;
}

.error {
    color: #e80c4d !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d !important;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

.input-validation-error
{
    border: 1px solid #e80c4d  !important;
    background-color: #FDE1EA  !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}





/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

 
    nav {
        margin-bottom: 15px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

 
    /* login page */
    #loginForm
    {
        
        float: none;
        width: auto;
        border: 1px solid #E8E8E8;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}




 


/* tables
----------------------------------------------------------*/
table, th, td
{    border-collapse: collapse;
    border-spacing: 0;
   
    font-size:0.9em; 
    border-color:#CCCCCC
}
th  
{  
  height:25px;
  text-align: center;
}
  td
{     
   text-align: left;
  
}
 
thead, tbody { display:inline-table; }

tbody
{  
    width: 100%;
    overflow-y: auto; /* Trigger vertical scroll    */
    overflow-x: hidden; /* Hide the horizontal scroll */
}
 


#LookPayRolTable  
{
    background-color:White;
	width:99%  ;
	margin-left: 3px;
	z-index: 9999;
	float: left;
}

#LookPayRolTable td 
{    
 margin: 0;
 padding: 0; 
 height:25px;   
}

#LookPayRolTable tr 
{    
 margin: 0;
 padding: 0; 
 height: 25px;   
}
#ticketview td ,#timetable td
{    
    border-collapse: collapse;
    border-spacing: 0;
      border: 1px solid #CCCCCC;
    font-size:0.9em; 
    
}
 
#ticketview,#timetable  {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #CCCCCC;
    margin-top: 0.75em;  
    font-size:0.9em;
    position:relative;
    top:10px;
}
 
#ticketview  td, #timetable  td
{
   padding :5px;
   padding-left:5px;
   min-width:45px;
   min-height:30px;
 
}

#ticketedittable td
{    
    text-align:center !important;    
    min-width:45px;
    color:Black;
 }
 
  #SerachText 
  {
      width:200px;
  }
 #doesOverlay {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  /*  background: #000000; opacity: 0.9;*/    
    z-index:998;
}

#doesloading  
{
 position: absolute;
 left:30%;
 top:20%;
 z-index:9999;
}
#doesloadingDiv  
{
 font-size:19px;
 text-align:center;
 vertical-align:middle;
 background-color:White;
 border:2px solid gray; 
 width:250px;
 height:150px;
 position:fixed ;
 left:35%;
 top:30%;
 z-index:9999;
}



#popW_main  
{    
  width: 100%;      
  display: block;	        
  height: 100%;  
  position:absolute;
  display: none;
	
 }
#popW_container
{
    border-radius: 5px ;
    box-shadow: 6px 2px 6px rgba(0, 0, 0, 0.3), 6px 6px 6px 1px rgba(0, 0, 0, 0.1);
    font-family: "Helvetica Neue",Helvetica,Arial,"lucida grande",tahoma,verdana,arial,sans-serif;
    margin: 0px auto ;
    position: relative; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;    
    max-height: 700px;  
    min-width: 200px;
    max-width: 980px;  
    background-color:  White;   
    display: table;
    margin-top:4%;
}
#popW_content {
    background-color:#FFF;
    display:block;
    position:relative;
    float:left; 
    z-index:999;
    padding: 7px;
    min-width: 97%;
    overflow: auto;
    overflow-x: none; 
    height:85%;  
    z-index: 997;
    margin-top:42px;
    max-height: 600px;
}
#popW_header
{ 
    font-family: tahoma, verdana, "lucida grande", "Lucida Sans",arial, sans-serif;
    font-size: 14px;
    font-weight:bold;
    line-height:35px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    height: 40px;
    background-color: #E8E7ED;
    display: block;
    width: 100%;
    position:absolute;  
    line-height: 40px;
    top: 0px;
    z-index: 998;
}
 
#popW_footer 
{
   
   border-top: 1px solid #EDEDF1;
   float: left;
   display: block;
   width: 95%;
   height: 40px;
   color: #666666;
   padding-top: 3px;
   padding-right: 5%;
   font-weight: bolder;
   text-align:right;
   position:absolute;  
   line-height: 32px;
   bottom: 0px; 
   z-index: 998;
}
 
#popW_Close {
    display: inline-block;
    position:absolute;
    top:6px;
    right:15px;
    width:10px;
    height:20px;   cursor: pointer;
   background:#fff url('../global/Images/closewindows.png') no-repeat center center; 
    opacity: 0.6;  filter: alpha(opacity=60);  
    z-index:999;     
}
 
 
 #popW_Close:hover
 {  
     opacity: 1 !important;
 }

/*nahed*/

#calcontainer
{
    border: solid 0px orange;
    width: 800px;
    margin-top: 20px;
    
    float: left;
    position: relative;
}

#calcontent
{
    border: solid 0px black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
        
    float: left;
    position: relative;
}

.calitem_container
{
    border: solid 0px black;
    width: 114px;
    height: 150px;
    float: left;
    position: relative;
}

.calitem_container_inner
{
    border: solid 1px #336699;
    width: 100px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.calitem_hdr
{
    border: solid 0px green;
    background-color: #336699;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
    color: #FFFFFF;
    font: 16pt Arial;
    font-weight: bold;
    text-align: center;
    
    position: relative;
    clear: both;
}

.calitem_hdr_wkend
{
    border: solid 0px green;
    background-color: #ACC8E3;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
    color: #FFFFFF;
    font: 16pt Arial;
    font-weight: bold;
    text-align: center;
    
    position: relative;
    clear: both;
}


.calitem_input
{
    border: solid 0px orange;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
}

.ReadOnly
{
    background-color: #EAEAEA !important; 
}
.calitem_time
{
    border: solid 0px red;
    font: 40pt Arial;
    font-weight: bold;
    width: 90px !important; 
    height: 85px !important; 
    text-align: center;
    position: relative;
    float: left;
}

.calitem_time_min
{
    border: solid 0px red;
    font: 30pt Arial;
    font-weight: bold;
    width: 48px;
    height: 96px;
    text-align: center;
    position: relative;
    float: right;
}

.colon
{
    font: 40pt Arial; font-weight: bold; width: 10px; height: 76px; margin-top: 12px; margin-left: -3px;
    position: relative; float: left;
}

#lbltothours_container
{
    border: solid 0px black;
    width: 780px;
    height: 100px;
    font-Weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    position: relative;
}

.lblhoursallowed
{
    font-size: 14pt;
    margin: 5px auto 5px auto;
    text-align: center;
    width: 670px;
    position:relative;
    float: left;
    border: solid 0px red;
}

.lbltotal_left
{
    border: solid 1px #336699;
    background-color: #336699;
    width: 660px;
    height: 60px;
    float: left;
    position: relative;
    font-size: 20pt;
    text-align:center;
    color:White;
    line-height:50px;
}

.lbltotal_right
{
    border: solid 1px #336699;
    background-color: #FFFFFF;
    width: 110px;
    height: 60px;
    float: right;
    position: relative;
    font-size: 30pt;
}

.lbltot
{
    border: solid 0px orange;
    vertical-align: middle;
    width: 670px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    float: left;
    position: relative;
}

.tot
{
    border: solid 0px orange;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    float: right;
    position: relative;
}

.singlebutton
{
    width: 100%;
    text-align: center;
}

#Week_time_window
{
    width: 800px; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
}
.lblfld
{
    text-align: left;
    display: inline-block;
    min-width: 20px;
    line-height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #999;
}

.lnkbutton
{
    background-color: #F4F4F4;
    border: 1px solid #787878;
    cursor: pointer;
    font-size:14px;
    font-weight: 600;
    line-height:25px;
    padding: 4px 10px 4px 10px;    
    width: auto;
    min-width: 120px;
    text-decoration: none;
    display: inline-block;
}
    
.lnkbutton:hover
{
    color: #333;
    background-color: #E6E6E6;
}    



#divheader
{
    background-color: rgb(23, 41, 61);
    position: relative;
    float: left;
    width: 100%;
    min-width: 970px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #CC3300;
}

 .dcMasthead
{   
    display:inline-block; 
    width:620px;
    height: 142px;
    float: left;  
    background: transparent url('/global/images/headerlogoleft.png') no-repeat scroll 0 0;
 
} 
 .headermayerlogo
{   
    display:inline-block; 
    width: 275px;
    height:142px;
    float: right;  
    background: transparent url('/global/images/mayerlogo.png') no-repeat ;
 
} 

.subHeader {
    clear: both;
    background-color: rgb(1, 51, 86);
    border-top: 1px solid rgb(52, 104, 143);
     display:block;
    width:100%;
    float:left;
    position:relative;
    text-align:right;
    line-height:35px; color:White;
}

.btn_desc
{
	border: solid 0px purple;
	float: left;
	clear: both;
	font: 10pt arial;
	text-align:left;
	display: block;
	padding: 5px;
	position: relative;
	width: 100%;
}

.btn_area a {
    color: #00F;
    display:block;
}

.btn_area a:hover {
    border: 1px dashed #C0C0C0;
    display:block;
}

.btn_container {
    border: 1px solid  #C0C0C0;
    width: 99%;
    height: 85px;
    padding: 9px;
    position: relative;
    clear: both;
   
}
.btn_left {
    border: 0px solid #000;
    float: left;
    width: 65px;
    position: relative;
}
.btn_desc:hover
{
	border: solid 0px purple;
	float: left;
	clear: both;
	font: 10pt arial;
	display: block;
	padding: 5px;
	position: relative;
	width: 100%;
}

.btn_lbl_off
{
	border: solid 0px green;
	float: left;
	clear: both;
	font: bold 14pt arial;
	display: block;
	padding: 5px;
	position: relative;
	color: #CCCCCC;
}

.btn_lbl_off:hover
{
	border: solid 0px green;
	float: left;
	clear: both;
	font: bold 14pt arial;
	display: block;
	padding: 5px;
	position: relative;
	color: #CCCCCC;
}

.btn_desc_off
{
	border: solid 0px purple;
	float: left;
	clear: both;
	font: 10pt arial;
	text-align:left;
	display: block;
	padding: 5px;
	position: relative;
	color: #CCCCCC;
	width: 100%;
}

.btn_desc_off:hover
{
	border: solid 0px purple;
	float: left;
	clear: both;
	font: 10pt arial;
	display: block;
	padding: 5px;
	position: relative;
	color: #CCCCCC;
	width: 100%;
}
 
 
#nav 
{ 
    text-align:left;
    width: 95%;
    line-height:35px;
    display:block;
    margin-bottom: 5px;
}
#nav a 
{  text-align:center;
    margin:3px;   line-height:35px; height:35px; display:inline-block;  text-decoration:none;
}
#nav a:hover 
{   background-color: #c7d1d6;
   
}
.contentheader h1
{
    padding-left:20px;
    display:block;
    line-height:45px;
   background-color: #EBEBEB;
   font-size:19px;
   font-weight:normal;
}

#timetable td a, #ticketview td a { padding-left:10px; padding-right:10px; }

#weekstimes tbody
{word-wrap:break-word;
    min-height: 20px;
}

#weekstimes tr
{word-wrap:break-word;
    border-style: none none solid none;
    border-width: 0px 0px 1px 0px;
    padding: 0px;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: #CCCCCC;
    border-left-color: inherit;
}
 #weekstimes td
{
    text-align: center;	
    border-style: none none none solid;
    border-width: 0px 0px 0px 1px;
    padding: 0px;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: #CCCCCC;
    word-wrap:break-word;
}
#PopDataWindow
{ 
    width: auto; 
    height:auto;
    min-width: 230px; 
    min-height:230px;
    left:50%;
    top:50px;
    margin-left:-150px;
    overflow-y:scroll;
    position:absolute;
    display:none;
    border: 2px solid #CCCCCC;
    z-index: 999;
    background-color: #fff;
   
border-radius:7px;
box-shadow: 10px 10px 5px #888888;
}

#popupBoxData
{   
    display:none;
    margin:4px; 
    width:auto;
    height:80%;
    min-height:150px;
    min-width:30px;
    background-color: #fff;
}

#popupBoxHeader
{
    display: block;
    width: auto;
    height: 35px;
    padding-left:7px;
    color: #666666;
    line-height: 32px;
    font-weight: bolder;
}

#popupBoxFooter 
{
    bottom:0px;
    display: block;
    width: 100%;
    height: 35px;
    color: #666666;
    line-height: 32px;
    font-weight: bolder;
    text-align:right;
    position:relative;
   float: left;
    
}

#popupBoxClose {
    display: inline-block;
    position:absolute;
    top:6px;
    right:3px;
    width:15px;
    height:15px;  
    background:#EBEBEB url('/global/Images/closewindows.png') no-repeat    center center; 
    z-index:999;   
    opacity: 0.6;   
    border: 1px solid #EBEBEB;  
}
#popupBoxClose:hover
{
    opacity: 0.9;
    border: 1px solid #A8A8A8;
}


#popupBoxFooter #btnSave
{
    display: inline-block;
    position:relative;
 
}

#popupBoxFooter #btnCancel
{
    display: inline-block;
    position:relative;
 
}

.ButtonA
{  position: relative;   
    min-width:20px;
    min-height:16px;
    display: inline-block;
    padding: 0.3em 1em 0.375em 1em ; 
    text-decoration: none;
    text-align: center;
    font: bold 11px/normal 'lucida grande' , tahoma, verdana, arial, sans-serif;
    white-space: nowrap;
    letter-spacing: 0.09em;
    cursor: pointer;    
    margin-left:5px;
    margin-right:5px; 
}
 
.Btn_g
{  
    border:  1px solid #9E9E9E;
    color: #333;
    background-color: #F4F4F4; 
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;

} 
.Btn_g:hover
{
    border: 0.01em solid #9E9E9E;
    color: #333;
    background-color: #E4E4E4;
    text-decoration: none;
}

.Btn_g_dis
{     
    background-color: #F4F4F4;
    color: #C5CEE2;
}

.Btn_g_dis:hover
{ 
    background-color: #F4F4F4;
    color: #C5CEE2;   
    text-decoration:none; 
}

.Btn_b
{
 
    border: 1px solid #264177;
    background: #5975AE;
    color: #fff; 
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8EA7DB;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8EA7DB;
     box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8EA7DB;  
}
.Btn_b:hover
{
    background: #7E94C0;
    color: #fff;
    text-decoration:none;   
}

.Btn_b_d
{
    background: #5975AE;
    color: #97A6CC;
}

.Btn_b_d:hover
{ 
    background: #5975AE;
    color: #97A6CC;   
    text-decoration:none; 
}
.bg_g
{
    background-color: #EBEBEB;
}
.bg_b
{
    background-color: #CBDCED;
}

.loading  
{
  background:#fff url('/global/Images/loading.gif') no-repeat center center; 
  z-index:9999;
}
.loadingbar  
{
  background:#fff url('/global/Images/loading.gif') no-repeat center center; 
  z-index:9999;
}
#ParticipantList
{
    display:none;
    margin: 0;
    padding: 0;
    font-size: 14px;
   
    position:absolute;
   
    width:245px;
    background-color: #E1EBF4;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-color: #BCD2E9;
    border-bottom-color: #BCD2E9;
    border-left-color: #BCD2E9;
    z-index:9999;
}

#ParticipantList li
{ font-size:15px;
 list-style:none;   
 padding-left:5px;
 line-height:30px;
 }
 #ParticipantList li:hover
{
    cursor:pointer;
    font-size:15px;
    background-color: #C7DAEB;
    list-style: none;
}



#maincontent_mssg_div {
    position: fixed;
    height:35px;
    width:98%;
    left:1px;
    top:1px;
    display:none;
    z-index:9000;
    font-size: 13px;
    font-weight: bold;  
}

.fberrorbox
{
    background-color: #CC3300;
    border: 1px solid #CC3300;
    color: #FFFFFF;
    display:block; 
    height:35px;
    width:100%;  
    position:relative;  
    padding-left: 10px;
    padding-right: 10px;
    line-height:30px;
}   
.fbgreenbox
{ position:relative;
    background-color: green;
    border: 1px solid #006666;
    color: #fff;  height:35px;
    width: 100%;  display:block;   padding-left: 10px;
    padding-right: 10px;
    line-height:30px;
}  
.fbbluebox  
 {  
        position: relative;
        background-color: #eceff6;  
        border: 1px solid #d4dae8;  
        color: #333333;  
      height:35px;
    width: 100%;  display:block;   padding-left: 10px;
    padding-right: 10px;
    line-height:30px;
 }  
 
 .fbinfobox  
 {    position:relative;
        background-color: #fff9d7;  
        border: 1px solid #e2c822;  
        color: #333333;  
      height:35px;
     width: 100%;  display:block;   padding-left: 10px;
     padding-right: 10px;
        line-height:30px;
}  

.Toprowsmsg
{   
    color: green;  
    height:30px;
}

.bg_g
{
    background-color: #EBEBEB;
}
.bg_b
{
    background-color: #CBDCED;
}
.highlight { background-color:Yellow; }

.highlightSilver { background-color:Silver; }

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

#paystubs tr {
	height:25px;
	border-bottom: 1px solid gray;
}
#paystubs tr a {
	 text-decoration: underline;
}
#resultsview tr {
	height:30px;
}

#SearchIcon  
{
  background:#fff url('../global/Images/searchiconmd.png') no-repeat center center; 
  z-index:9999;
}

#closewindows {
 background:#fff url('../global/Images/closewindows.png') no-repeat center center; 
 z-index:9999;
  width: 30px;
  text-align: left;
  height:30px;
  display: inline-block;
  opacity: 0.7 !important;
  cursor: pointer;

}
 #closewindows:hover
 {  
     opacity: 1 !important;
 }
.pagetitle {
	color: #aaa;
	font-size: 19px;
	line-height: 50px;
	 
	width: 100%;
}
.wizardtransferstep
{
    display: inline-block;	
    background-color: #EBEBEB;    
    color: gray;
    font-size: 13px;     
    height:40px;
    line-height:40px;
    width:23%;
    font-weight: bold;	
    text-align: center;
	vertical-align: middle;
	
}
.wizardcurrent
{
      background-color: #C7D0D1;
    color: #336699;
	
}