@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form class="form-horizontal" role="form">
        <div class="row" style="padding-left:1em;">
            <div class="well well-sm col-sm-6">Log in</div>
        </div>
    </form>
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="userid">User ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="userid" placeholder="Enter userid">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <a href="" class="control-label col-xs-2">Forgot Password</a>
                <div class="col-sm-offset-3 pull-left">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>