<div>
    
    <!--<select data-ng-model="reposortorder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
    </select><br /><br />-->
    {{countdown}}
    <form name="searchuser" data-ng-submit="search(username)">
        <input type="search" required data-ng-model="username" placeholder="username to find" />
        <input type="submit" value="Search" />
    </form>

    <!--<div id="userdetails" data-ng-show="user" data-ng-include="'userdetails.html'"></div>-->

</div>