@model FileUploadWebAPIMVC5.Controllers.Comments

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top"><b>@Html.DisplayNameFor(model => model.id):</b></td>
        <td>
            @Html.DisplayFor(model => model.id)
            <br />
            @Html.DisplayFor(model => model.name),
        </td>
    </tr>
</table>